<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Cuento corto por Esteban Ordano">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>">
  <title>Memorias Fragmentadas</title>

  <style type="text/css">{% include 'main.css' %}</style>
</head>

<body>
  <div id="root">
    {% block root %}{% endblock %}
  </div>

  <script>{% include 'main.js' %}</script>
</body>
</html>
