<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Cuento corto por Esteban Ordano">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>">
    <title>Memorias Fragmentadas</title>
    <style type="text/css">{{ style }}</style>
  </head>
  <body>
<div id="root"><div><h3><a href="../index.html">Memorias Fragmentadas</a></h3><h4>
{% if prev is not none %}<a href="{{ prev }}.html">&lt; previo</a> {% endif %}
<a id=random> al azar</a>
{% if next is not none %}<a href="{{ next }}.html">siguiente &gt;</a> {% endif %}
</h4><div><h1>Día {{ day }}</h1><div class="content">
{{ content }}</div></div></div></div>
<script>{{ script }}</script></body></html>
