<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Cuento corto por Esteban Ordano">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>">
    <title>Memorias Fragmentadas</title>
    <style type="text/css">{{ style }}</style>
  </head>
  <body>
    <div id="root"><div><h1>Memorias Fragmentadas</h1><div class="apertura"><p>En una memoria fragmentada, aquello que se supone real pierde sentido<br>y engendra entendimiento</p><p>Cualquier día es un final<br>Cualquier día es un inicio</p><p>Círculos dentro de círculos</p><p>El tiempo uno solo<br>Y el caos vida</p></div><a id="random">Al azar</a> <a class="navbar" href="ep/0.html">En orden</a></div></div><div id="elements"/>
  </body>
  <script>{{ script }}</script></body></html>
