{% extends 'base.html' %}

{% block root %}
<div>
  <nav>
    <a href="/"><h1>Memorias Fragmentadas</h1></a>
  </nav>

  <article>
    <h1>Día {{ day }}</h1>
    <div class="content">{{ content }}</div>
  </article>

  <nav>
    {% if prev is not none %}
      <a class="button" href="/ep/{{ prev }}">anterior</a>
    {% endif %}

    <a class="button" id="random">al azar</a>

    {% if next is not none %}
      <a class="button" href="/ep/{{ next }}">siguiente</a>
    {% endif %}
  </nav>
</div>
{% endblock %}
