{% extends 'base.html' %}

{% block root %}
<div>
  <nav>
    <div class="buttons">
      <a class="button disabled"><i class="arrow-left"></i></a>
      <a class="button" id="random"><i class="d6"></i></a>
      <a class="button" href="/ep/0"><i class="arrow-right"></i></a>
    </div>

    <span class="expand"></span>
    <a href="/"><h1>Memorias Fragmentadas</h1></a>
  </nav>

  <article>
    <p>En una memoria fragmentada, aquello que se supone real pierde sentido y engendra entendimiento</p>
    <p>Cualquier día es un final<br>Cualquier día es un inicio</p>
    <p>Círculos dentro de círculos</p>
    <p>El tiempo uno solo y el caos vida</p>
  </article>
</div>
{% endblock %}
