{% extends 'base.html' %}

{% block root %}
<div>
  <nav>
    <a href="/"><h1>Memorias Fragmentadas</h1></a>
  </nav>

  <article>
    <p>En una memoria fragmentada, aquello que se supone real pierde sentido y engendra entendimiento</p>
    <p>Cualquier día es un final<br>Cualquier día es un inicio</p>
    <p>Círculos dentro de círculos</p>
    <p>El tiempo uno solo y el caos vida</p>
  </article>

  <nav>
    <a class="button" id="random">al azar</a>
    <a class="button" href="/ep/0">primera</a>
  </nav>
</div>
{% endblock %}
